.footer {
   &_container {
  
    &--legal {
      padding: 5px;
      background-color: #353d47;
      position: relative;
      bottom: 0;
      color: #b0b0b0;
      font-weight: bold;
      font-size: 16px;
      width: 100%;
      text-align: center;
    }
  }
}
