.footer {
   &_container {
  
    &--legal {
      padding: 3px;
      background-color: #5E99C5;
      position: relative;
      bottom: 0;
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}
